test_api.py
*.pyc
*.xml
*.iml
.idea/
.venv/
staticfiles/*
.env
.env_gcr
nginx/ssl/*
nginx/nginx_new.conf
nginx/nginx_gcp.conf
nginx/gcr.sh
nginx/Dockerfile
nginx/policy.json
gcr_api.sh
nginx/logs/*
!nginx/logs/.gitkeep
api_db_create/
!collections_app_api/static/.gitkeep
env_gcr.yaml
cloudbuild.yaml