test_api.py
*.pyc
*.xml
*.iml
.idea/
.venv/
staticfiles/*
.env
nginx/ssl/*
nginx/nginx.conf_new
nginx/logs/*
!nginx/logs/.gitkeep
api_db_create/
collections_app_api/static/*
!collections_app_api/static/.gitkeep