test_api.py
*.pyc
*.xml
*.iml
.idea/
.venv/
./collections_app_api/data/*
collections_app_api/__pycache__/*
collections_app_api/migrations/*
collections_app_api/models/modelsTest.py
collections_app_api/models/modelsCollections_pre.py
staticfiles/*
.env
nginx/ssl/*
nginx/nginx.conf_new
nginx/logs/*