python-dotenv==1.0.1
Django==4.2.7
django-extensions==3.2.3
dj_database_url==2.3.0
django-debug-toolbar==4.3.0
django-cors-headers==4.6.0
djangorestframework==3.14.0
drf-spectacular==0.27.2
gunicorn==23.0.0
mysqlclient==1.4.3
numpy==1.26.4
pandas==2.2.2
plotly==5.20.0
pygbif==0.6.4
thread==1.1.1
urllib3_secure_extra==0.1.0

