<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Plotly Bar Graph</title>-->
<!--    &lt;!&ndash; Include Plotly.js from CDN &ndash;&gt;-->
<!--    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--    &lt;!&ndash; Render the Plotly graph using the HTML string &ndash;&gt;-->
<!--    {{ plot_div|safe }}-->

<!--    &lt;!&ndash; Optional: Add any additional content or styling &ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!-- collections_graph.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collections Graph</title>
</head>
<body>
    <div id="collections_graph_year">{{ graph|safe }}</div>
    <form method="GET" action="{% url 'collections_graph_year' %}">
        <select name="year">
            <option value="">All</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <!-- <option value="2024">2024</option> -->
            <!-- Add more options as needed -->
        </select>
        <button type="submit">Filter</button>
    </form>
</body>
</html>

